includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - tests
    
    ignoreErrors:
        # O Pest usa $this magicamente nos arquivos de teste/config
        - '#Undefined variable: \$this#'
